// ---------- COLORS ---------- //
// Pour le choix de vos palettes de couleurs => https://colorhunt.co/

$colorOne: #003638;
$colorTwo: #055052;
$colorThree: #53B8BB;
$colorFour: #F3F2C9;

$black: #333;
$white: #f1f1f1;


// ---------- FONTS ---------- //
// Pour le choix de vos polices => https://fonts.google.com/

// Roboto : Thin 100, Regular 400, Regular 400 italic, Blod 700, Bold 700 italic
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');


// ---------- MIXINS ---------- //

@mixin button($bg, $text) {
    margin: .4rem;
    padding: .4rem;
    background-color: $bg;
    border-radius: .4rem;
    box-shadow: 0 0 30px $black;
    color: $text;

    &:hover {
        background-color: darken($bg, 30);
    }
}


// ---------- GLOBAL ---------- //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $colorFour;
    font-family: 'Roboto', sans-serif;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


// ---------- LOGIN / SIGNUP ---------- //
.main.login, .main.signup {
    justify-content: center;
}
.login, .signup {
    &__title {
        margin-bottom: 2rem;
    }

    &__error {
        color: crimson;
        margin-bottom: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &__label {
            margin-bottom: .4rem;
        }

        &__input {
            margin-bottom: 1rem;
            padding: .4rem;
            width: 300px;

            &[type = submit] {
                cursor: pointer;
                margin-bottom: 2rem;
            }
        }
    }

    &__link {
        text-decoration: none;
    }
}


// ---------- HEADER ---------- //
.header {
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    box-shadow: 0 0 10px $black;
    margin-bottom: 2rem;
    background-color: $white;

    &__logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $colorTwo;
        background-image: url('/img/icons/profile-user.svg'); // changez l'image de profil
        background-size: cover;
        background-position-x: left;
        background-repeat: no-repeat;
    }
    &__nav {
        display: flex;
            align-items: center;
        &__ul {
            display: flex;
            align-items: center;
            list-style: none;
            &__li {
                margin: .4rem 1rem;
                transition: .3s;

                &:hover {
                    transform: scale(1.2);
                }

                & .receivedMessages {
                    position: relative;
                    height: 30px;
                
                    &__badge {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        color: $white;
                        background-color: $colorTwo;
                        border-radius: 50%;
                        padding: 0 .3rem;
                    }
                
                    &__img {
                        height: 100%;
                    }
                }

                &__img {
                    height: 30px;
                }
            }
        }
    }
}



// ---------- BACK OFFICE ---------- //
.main.back {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 2rem;
}
.projects-box, .articles-box {
    margin: 2rem;
    &__title {
        margin: 1rem 0;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .6rem;
        margin: .6rem;
        background-color: $white;
        box-shadow: 0 0 30px $black;
        border-radius: .4rem;
        transition: .3s;

        &:hover {
            background-color: $black;
            color: $white;
        }

        &__icons {
            margin-left: 1rem;

            &__link {
                text-decoration: none;
                margin: 0 .3rem;

                &__icon {
                    width: 20px;
                }
            }
        }
    }
}


// ---------- PROFIL ---------- //
.main.profil {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 2rem;
}
.profil {
    &__update, &__delete {
        &__title {
            margin-bottom: 2rem;
        }
    
        &__error {
            color: crimson;
            margin-bottom: 1rem;
        }
    
        &__form {
            display: flex;
            flex-direction: column;
    
            &__label {
                margin-bottom: .4rem;
            }
    
            &__input {
                margin-bottom: 1rem;
                padding: .4rem;
                width: 300px;
    
                &[type = submit] {
                    cursor: pointer;
                    margin-bottom: 2rem;

                    &.warning {
                        background-color: crimson;
                        color: white;
                    }
                }
            }
        }
    }
}



// ---------- MESSAGES ---------- //
.messages {
    &__table {
        border-collapse: collapse;
        margin: 1rem;
        border-radius: .4rem;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0 0 10px $black;
        width: 90%;

        &__thead {
            border-bottom: 1px solid rgba(128, 128, 128, 0.276);
            &__tr {
                display: flex;

                &:last-child {
                    border-bottom: none;
                }

                &__th {
                    padding: 1rem;
                    text-align: center;
                    flex: 3;

                    &--small {
                        padding: 1rem;
                        text-align: center;
                        flex: 1;
                    }
                }
            }
        }

        &__tbody {
            &__tr {
                display: flex;
                border-bottom: 1px solid rgba(128, 128, 128, 0.276);

                &__td {
                    padding: 1rem;
                    text-align: center;
                    flex: 3;

                    &--small {
                        padding: 1rem;
                        text-align: center;
                        flex: 1;
                    }

                    &__link {
                        margin: 0 .3rem;
                        text-decoration: none;

                        &__icon {
                            width: 20px;
                            transition: .3s;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }

        &__tfoot {
            &__tr {
                &__td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .4rem;
                    border-radius: .4rem;
                    background-color: $white;

                    &.totals {
                        justify-content: flex-end;
                    }

                    &__arrows {
                        &__img {
                            width: 30px;
                        }
                    }

                    &__pages {
                        margin: 0 1rem;
                    }

                    &__totals {
                        margin: 0 1rem;
                    }
                }
            }
        }
    }
}

.seen-true {
    background-color: $white;
}
.seen-false {
    background-color: $colorThree;
}



// ---------- MESSAGE ---------- //
.main.message {
    justify-content: center;
}

.message-box {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0 0 10px $black;
    margin: 2rem;
    padding: 1rem;
    border-radius: .4rem;

    &__infos {
        display: flex;
        justify-content: space-between;
        padding-bottom: .4rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.276);

        &__p {
            margin: 0 1rem;
        }
    }
    &__contact {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-style: italic;
        padding: .4rem 1rem;

        &__p {
            display: flex;
            align-items: center;
            margin: 0 .4rem;

            &__icon {
                width: 20px;
                margin-right: .4rem;
            }
        }
    }
    &__content {
        padding-bottom: 2rem;
    }
    &__links-box {
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(128, 128, 128, 0.125);
        padding: .8rem;
        border-radius: .4rem;

        &__link {
            &__icon {
                width: 20px;
                transition: .3s;
    
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        
    }
}



// ---------- CREATE PROJECT ---------- //
.main.create-project {
    justify-content: center; 
}
.create-project {
    &__title {
        margin-bottom: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 2rem;

        &__label {
            margin: .6rem .4rem;
            margin-top: 2rem;
        }

        &__input, &__textarea {
            padding: .4rem;
            width: 100%;

            &[type = submit] {
                cursor: pointer;
                margin-top: 2rem;
                width: 50%;
                align-self: center;
            }
        }

        &__textarea {
            height: 200px;
        }
    }
}



// ---------- CREATE ARTICLE ---------- //
.main.create-article {
    justify-content: center;
    padding: 2rem;
}

.create-article {
    &__title {
        margin-bottom: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &__label {
            margin: .6rem .4rem;
            margin-top: 2rem;
        }

        &__input, &__textarea {
            padding: .4rem;
            width: 100%;

            &[type = submit] {
                cursor: pointer;
                margin-top: 2rem;
                width: 50%;
                align-self: center;
            }
        }

        &__textarea {
            height: 200px;
        }
    }
}




// ---------- FOOTER ---------- //
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: $white;
    box-shadow: 0 0 10px $black;
}