// ---------- COLORS ---------- //
// Pour le choix de vos palettes de couleurs => https://colorhunt.co/

$colorOne: #003638;
$colorTwo: #055052;
$colorThree: #53B8BB;
$colorFour: #F3F2C9;

$black: #333;
$white: #f1f1f1;


// ---------- FONTS ---------- //
// Pour le choix de vos polices => https://fonts.google.com/

// Roboto : Thin 100, Regular 400, Regular 400 italic, Blod 700, Bold 700 italic
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');


// ---------- MIXINS ---------- //

@mixin button($bg, $text) {
    margin: .4rem;
    padding: .4rem;
    background-color: $bg;
    border: none;
    border-radius: .4rem;
    box-shadow: 0 0 6px darken($bg, 10);
    color: $text;
    cursor: pointer;
    transition: .3s;

    & a {
        text-decoration: none;
        color: $text;
    }

    &:hover {
        background-color: darken($bg, 30);
    }
}


// ---------- GLOBAL ---------- //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $colorFour;
    font-family: 'Roboto', sans-serif;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

// ---------- MENU ---------- //
.menu {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;

    &.expend {
        width: 176px;
        height: 100vh;
        background-color: $colorOne;
        box-shadow: 0 0 10px $black;
    }

    &__toggle {
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
        padding: .2em .6em;
        border-radius: 10px;
        cursor: pointer;

        &__hover {
            margin: auto 0;
            color: $colorOne;
            font-size: 0;
            transition: .3s;

            &.appear {
                font-size: 30px;
                line-height: 30px;
            }
        }
        &__icon {
            width: 40px;
            height: 34px;
        }
    }

    &__container {
        display: none;

        &.show-menu {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__nav {
            flex: 1;
    
            &__list {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                list-style: none;
            
                &__item {
                    margin: 1em 0;
                    transition: .3s;
            
                    &__link {
                        color: $white;
                        text-transform: uppercase;
                        text-decoration: none;
                        transition: .3s;
                    
                            &:hover {
                                color: $colorThree;
                            }
                    }
            
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        &__socials {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
    
            &__item {
                margin: .6em;
                text-transform: uppercase;
            
                &__link {
                    display: inline-block;
                    color: $white;
                    text-decoration: none;
                    transition: .3s;
                
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.menu.expend .menu__toggle__hover {
    color: $white;
}





// ----------------  PROJECTS  ----------------
.main.projects {
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

.projects-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    & .project {
        position: relative;
        max-width: 300px;
        background-color: $white;
        border-radius: .4rem;
        margin: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);


        &__img-box {
            position: relative;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            width: 260px;
            height: 170px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            text-align: center;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
        }

        &__content {
            position: relative;
            padding: 0 1rem;
            text-align: center;

            &__title {
                position: relative;
                top: -40px;
            }

            &__project-versions {
                position: relative;
                top: -20px;
                border: 1px solid $black;
                border-radius: .4rem;
                padding: 1rem;

                &__title {
                    position: absolute;
                    top: -26px;
                    left: -20px;
                    background-color: $white;
                }
                &__link {
                    display: inline-block;
                    color: $colorTwo;
                    margin: 0 .4rem;
                    transition: .3s;

                    &:hover {
                        color: $colorThree;
                        transform: scale(1.1);
                    }
                }
            }

            &__btn-box {
                display: flex;
                justify-content: center;
                align-items: center;

                &__button {
                    @include button($colorTwo, $white);

                    &__link__img {
                        width: 30px;
                    }
                }
            }
        }
    }
}




// ----------------  BLOG  ----------------

.main.blog {
    flex-direction: column;
    justify-content: flex-start;
}

.articles-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2rem;

    & .card {
        position: relative;
        max-width: 300px;
        background-color: $white;
        border-radius: .4rem;
        margin: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);


        &__img-box {
            position: relative;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            width: 260px;
            height: 170px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            text-align: center;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
        }

        &__content {
            position: relative;
            padding: 0 1rem;
            text-align: left;

            &__title {
                position: relative;
                top: -30px;
                margin-bottom: 1rem;
                text-align: center
            }

            &__subtitle {
                position: relative;
                top: -30px;
                text-align: center;
                font-weight: 100;
            }

            &__btn-box {
                display: flex;
                justify-content: center;
                align-items: center;

                &__button {
                    @include button($colorTwo, $white);
                }
            }
        }
    }
}


// ----------------  ARTICLE / PROJECT  ----------------

.main.article, .main.project {
    flex-direction: column;
    justify-content: flex-start;
}

.article, .project {
    &__title {
        margin-bottom: .5rem;
    }
    &__subtitle {
        margin-bottom: 2rem;
    }
    &__image {
        width: 50%;
        min-width: 300px;
    }
    &__content {
        width: 100%;
        padding: 2rem;

        // style des éléments générés par CKeditor
        & h2 {
            margin: 1rem 0;
        }
        & h3 {
            margin: 1rem;
        }
        & h4 {
            margin: 1rem 2rem;
        }
        & blockquote {
            margin-left: 2rem;
            padding-left: 2rem;
            border-left: 5px solid rgb(162, 162, 162);
            font-style: italic;
            font-weight: 100;
        }

        & ol, & ul {
            margin-left: 1.2rem;
        }

        & code {
            padding: .4rem;
            border-radius: .4rem;
            background-color: rgba(0, 0, 0, 0.1);
        }

        & .image {
            width: 100%;

            &.image-style-side {
                float: right;
                margin: .6rem 0 .6rem 1rem;
            }

            & img {
                width: 100%;
            }
        }
    }

    &__created{
        align-self: flex-end;
        margin-right: 2rem;
        margin-bottom: 2rem;
        font-style: italic;
        padding-top: 1rem;
        border-top: 1px solid rgb(162, 162, 162);
    }
}



// ----------------  CONTACT  ----------------
.contact-form {
    margin: 1rem;
    padding: 3rem 2rem;
    background-color: $colorTwo;
    width: 90%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
    border-radius: .4rem;

    &__title {
        color: $white;
        font-size: 2rem;
    }

    &__submit-message {
        text-align: center;
        color: $white;
    }

    &__form {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 2rem;

        &__input-box {
            position: relative;
            margin-bottom: 1.6rem;

            &.w50 {
                width: 47%;
            }

            &.w100 {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            &__input, &__textarea {
                width: 100%;
                padding: 5px;
                font-size: 18px;
                font-weight: 100;
                resize: none;
                background-color: $colorTwo;
                color: $white;
                border: none;
                border-bottom: 1px solid $white;
                outline: none;
            }

            &__small {
                color: crimson;
            }

            &__textarea {
                min-height: 120px;
            }

            &__label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px;
                font-size: 18px;
                font-weight: 300;
                color: $white;
                transition: .3s;
                pointer-events: none;
            }

            &__input:focus ~ &__label, &__textarea:focus ~ &__label, &__input:valid ~ &__label, &__textarea:valid ~ &__label {
                transform: translateY(-20px);
                font-size: 16px;
                color: $colorThree;
            }

            &__input[type="submit"] {
                @include button($colorOne, $white);
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}



// ----------------  FOOTER  ----------------
.footer {
    display: flex;
    justify-content: space-between;
    padding: .6rem 1rem;

    &__copyright, &__legals {
        text-decoration: none;
        color: $colorOne;
        transition: .3s;

        &:hover {
            color: $colorThree;
        }
    }
}




// ----------------  ERROR  ----------------
.error {
    &__img {
        width: 40%;
        min-width: 300px;
    }

    &__text {
        margin: 2rem;
        font-size: 1.2rem;
    }
}