<%- include('partials/header') %>

<main class="main error">
    <img class="error__img" src="/img/404.svg" alt="">
    <p class="error__text">Cette page n'existe plus ou n'a jamais existé...</p>
</main>

<%- include('partials/footer') %>