@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F3F2C9;
  font-family: "Roboto", sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main.login {
  justify-content: center;
}
.main.login h2 {
  margin-bottom: 2rem;
}
.main.login form {
  display: flex;
  flex-direction: column;
}
.main.login form input {
  margin-bottom: 1rem;
  padding: 0.4rem;
  width: 300px;
}
.main.login form input[type=submit] {
  cursor: pointer;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  box-shadow: 0 0 10px #333;
  margin-bottom: 2rem;
  background-color: #f1f1f1;
}
.header__logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #055052;
  background-image: url("/img/icons/profile-user.svg");
  background-size: cover;
  background-position-x: left;
  background-repeat: no-repeat;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav__ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.header__nav__ul__li {
  margin: 0.4rem 1rem;
  transition: 0.3s;
}
.header__nav__ul__li:hover {
  transform: scale(1.2);
}
.header__nav__ul__li .receivedMessages {
  position: relative;
  height: 30px;
}
.header__nav__ul__li .receivedMessages .badge {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #f1f1f1;
  background-color: #055052;
  border-radius: 50%;
  padding: 0 0.3rem;
}
.header__nav__ul__li .receivedMessages img {
  height: 100%;
}
.header__nav__ul__li img {
  height: 30px;
}

.main.back {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 2rem;
}

.projects-box, .articles-box {
  margin: 2rem;
}
.projects-box h2, .articles-box h2 {
  margin: 1rem 0;
}
.projects-box__item, .articles-box__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  margin: 0.6rem;
  background-color: #f1f1f1;
  box-shadow: 0 0 30px #333;
  border-radius: 0.4rem;
  transition: 0.3s;
}
.projects-box__item:hover, .articles-box__item:hover {
  background-color: #333;
  color: #f1f1f1;
}
.projects-box__item__icons, .articles-box__item__icons {
  margin-left: 1rem;
}
.projects-box__item__icons__link, .articles-box__item__icons__link {
  text-decoration: none;
  margin: 0 0.3rem;
}

table {
  border-collapse: collapse;
  margin: 1rem;
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px #333;
  width: 90%;
}

tr {
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.276);
}
tr:last-child {
  border-bottom: none;
}

th {
  padding: 1rem;
  text-align: center;
  flex: 3;
}
th.small {
  flex: 1;
  text-align: center;
}

td {
  padding: 1rem;
  text-align: left;
  border-right: 1px solid rgba(128, 128, 128, 0.276);
  flex: 3;
}
td:last-child {
  border-right: none;
}
td.small {
  flex: 1;
  text-align: center;
}

.icon {
  width: 20px;
  transition: 0.3s;
}
.icon:hover {
  transform: scale(1.2);
}

.seen-true {
  background-color: #f1f1f1;
}

.seen-false {
  background-color: #53B8BB;
}

.main.message {
  justify-content: center;
}

.message-box {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px #333;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
}
.message-box__infos {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.276);
}
.message-box__infos p {
  margin: 0 1rem;
}
.message-box__contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-style: italic;
  padding: 0.4rem 1rem;
}
.message-box__contact p {
  display: flex;
  align-items: center;
}
.message-box__contact p img {
  margin-right: 0.4rem;
}
.message-box__content {
  padding-bottom: 2rem;
}
.message-box .links-box {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.125);
  padding: 0.8rem;
  border-radius: 0.4rem;
}
.message-box .links-box a img {
  transition: 0.3s;
}
.message-box .links-box a img:hover {
  transform: scale(1.2);
}

.message-link {
  margin: 0 0.3rem;
  text-decoration: none;
}

.main.create-project {
  justify-content: center;
}
.main.create-project h2 {
  margin-bottom: 2rem;
}
.main.create-project form {
  display: flex;
  flex-direction: column;
}
.main.create-project form input, .main.create-project form textarea {
  margin-bottom: 1rem;
  padding: 0.4rem;
  width: 300px;
}
.main.create-project form input[type=submit], .main.create-project form textarea[type=submit] {
  cursor: pointer;
  margin-bottom: 2rem;
}
.main.create-project form textarea {
  height: 200px;
}

.main.create-article {
  justify-content: center;
  padding: 2rem;
}
.main.create-article h2 {
  margin-bottom: 2rem;
}
.main.create-article .create-article-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main.create-article .create-article-form__input {
  margin-bottom: 1rem;
  padding: 0.4rem;
  width: 400px;
}
.main.create-article .create-article-form__submit {
  margin-top: 1rem;
  padding: 0.4rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px #333;
}/*# sourceMappingURL=back.css.map */