@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F3F2C9;
  font-family: "Roboto", sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu.expend .menu__toggle__hover {
  color: #f1f1f1;
}

.menu {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
}
.menu__toggle {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  padding: 0.2em 0.6em;
  border-radius: 10px;
  cursor: pointer;
}
.menu__toggle__hover {
  margin: auto 0;
  color: #003638;
  font-size: 0;
  transition: 0.3s;
}
.menu__toggle__icon {
  width: 40px;
  height: 34px;
}
.menu__container {
  display: none;
}
.menu__nav {
  flex: 1;
}
.menu__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.menu__socials__link {
  margin: 0.6em;
  text-transform: uppercase;
}
.menu__socials__link a {
  display: inline-block;
  color: #f1f1f1;
  text-decoration: none;
  transition: 0.3s;
}
.menu__socials__link a:hover {
  transform: scale(1.2);
}

.expend {
  width: 176px;
  height: 100vh;
  background-color: #003638;
  box-shadow: 0 0 10px #333;
}

.appear {
  font-size: 30px;
  line-height: 30px;
}

.show-menu {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.nav__list__item {
  margin: 1em 0;
  transition: 0.3s;
}
.nav__list__item a {
  color: #f1f1f1;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.nav__list__item a:hover {
  color: #53B8BB;
}
.nav__list__item:hover {
  transform: scale(1.2);
}

.contact-form {
  margin: 1rem;
  padding: 3rem 2rem;
  background-color: #003638;
  width: 90%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
}
.contact-form h2 {
  color: #f1f1f1;
  font-size: 2rem;
}
.contact-form .submit-message {
  text-align: center;
  color: #f1f1f1;
}
.contact-form .form-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.contact-form .form-box .input-box {
  position: relative;
  margin-bottom: 1.6rem;
}
.contact-form .form-box .input-box.w50 {
  width: 47%;
}
.contact-form .form-box .input-box.w100 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-form .form-box .input-box input, .contact-form .form-box .input-box textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  font-weight: 100;
  resize: none;
  background-color: #003638;
  color: #f1f1f1;
  border: none;
  border-bottom: 1px solid #f1f1f1;
  outline: none;
}
.contact-form .form-box .input-box small {
  color: crimson;
}
.contact-form .form-box .input-box textarea {
  min-height: 120px;
}
.contact-form .form-box .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 18px;
  font-weight: 300;
  color: #f1f1f1;
  transition: 0.3s;
  pointer-events: none;
}
.contact-form .form-box .input-box input:focus ~ label, .contact-form .form-box .input-box textarea:focus ~ label, .contact-form .form-box .input-box input:valid ~ label, .contact-form .form-box .input-box textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 16px;
  color: #53B8BB;
}
.contact-form .form-box .input-box input[type=submit] {
  cursor: pointer;
  background-color: #055052;
  color: #f1f1f1;
  border: none;
  border-radius: 0.4em;
  max-width: 150px;
  padding: 12px;
  transition: 0.3s;
}
.contact-form .form-box .input-box input[type=submit]:hover {
  background-color: #53B8BB;
}/*# sourceMappingURL=style.css.map */