// ---------- COLORS ---------- //
// Pour le choix de vos palettes de couleurs => https://colorhunt.co/

$colorOne: #003638;
$colorTwo: #055052;
$colorThree: #53B8BB;
$colorFour: #F3F2C9;

$black: #333;
$white: #f1f1f1;


// ---------- FONTS ---------- //
// Pour le choix de vos polices => https://fonts.google.com/

// Roboto : Thin 100, Regular 400, Regular 400 italic, Blod 700, Bold 700 italic
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');


// ---------- MIXINS ---------- //

@mixin button($bg, $text) {
    margin: .4rem;
    padding: .4rem;
    background-color: $bg;
    border: none;
    border-radius: .4rem;
    box-shadow: 0 0 30px $black;
    color: $text;
    cursor: pointer;
    transition: .3s;

    & a {
        text-decoration: none;
        color: $text;
    }

    &:hover {
        background-color: darken($bg, 30);
    }
}


// ---------- GLOBAL ---------- //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $colorFour;
    font-family: 'Roboto', sans-serif;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

// ---------- MENU ---------- //

.menu.expend .menu__toggle__hover {
    color: $white;
}
.menu {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    &__toggle {
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
        padding: .2em .6em;
        border-radius: 10px;
        cursor: pointer;
        &__hover {
            margin: auto 0;
            color: $colorOne;
            font-size: 0;
            transition: .3s;
        }
        &__icon {
            width: 40px;
            height: 34px;
        }
    }
    &__container {
        display: none;
    }
    &__nav {
        flex: 1;
    }
    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        &__link {
            margin: .6em;
            text-transform: uppercase;
        
            & a {
                display: inline-block;
                color: $white;
                text-decoration: none;
                transition: .3s;
            
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}
.expend {
    width: 176px;
    height: 100vh;
    background-color: $colorOne;
    box-shadow: 0 0 10px $black;
}
.appear {
    font-size: 30px;
    line-height: 30px;
}
.show-menu {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;

    &__item {
        margin: 1em 0;
        transition: .3s;

        & a {
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            transition: .3s;
        
                &:hover {
                    color: $colorThree;
                }
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}



// ----------------  PROJECTS  ----------------
.main.projects {
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

.projects-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    & .card {
        position: relative;
        max-width: 300px;
        background-color: $white;
        border-radius: .4rem;
        margin: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);


        & .imgBx {
            position: relative;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            width: 260px;
            height: 170px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            text-align: center;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
        }

        & .content {
            position: relative;
            padding: 0 1rem;
            text-align: center;

            & .project-versions {
                position: relative;
                top: -20px;
                border: 1px solid $black;
                border-radius: .4rem;
                & h4 {

                }
                & a {

                }
            }

            & .btn-box {
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    width: 30px;
                }
            }
        }
    }
}
.content__title {
    position: relative;
    top: -30px;
    margin-bottom: 1rem;
    text-align: center
}

.article__button {
    @include button($colorTwo, $white);
}




// ----------------  BLOG  ----------------

.main.blog {
    flex-direction: column;
    justify-content: flex-start;
}

.article-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2rem;

    & .card {
        position: relative;
        max-width: 300px;
        background-color: $white;
        border-radius: .4rem;
        margin: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);


        & .imgBx {
            position: relative;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            width: 260px;
            height: 170px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            text-align: center;
            border-radius: 4px;
            background-size: cover;
            background-position: center;
        }

        & .content {
            position: relative;
            padding: 0 1rem;
            text-align: left;

            & .title {
                position: relative;
                top: -30px;
                margin-bottom: 1rem;
                text-align: center
            }

            & .subtitle {
                position: relative;
                top: -30px;
                text-align: center;
                font-weight: 100;
            }

            & .btn-box {
                display: flex;
                justify-content: center;
                align-items: center;

                .article__button {
                    @include button($colorTwo, $white);
                }
            }
        }
    }
}


// ----------------  ARTICLE  ----------------

.main.article {
    flex-direction: column;
    justify-content: flex-start;
}

.article {
    &__title {
        margin-bottom: .5rem;
    }
    &__subtitle {
        margin-bottom: 2rem;
    }
    &__image {
        width: 50%;
        min-width: 300px;
    }
    &__content {
        padding: 2rem;

        & h2 {
            margin: 1rem 0;
        }
        & h3 {
            margin: 1rem;
        }
        & h4 {
            margin: 1rem 2rem;
        }
        & blockquote {
            margin-left: 2rem;
            padding-left: 2rem;
            border-left: 5px solid rgb(162, 162, 162);
            font-style: italic;
            font-weight: 100;
        }
    }
    &__created{
        align-self: flex-end;
        margin-right: 2rem;
        margin-bottom: 2rem;
        font-style: italic;
        padding-top: 1rem;
        border-top: 1px solid rgb(162, 162, 162);
    }
}



// ----------------  CONTACT  ----------------
.contact-form {
    margin: 1rem;
    padding: 3rem 2rem;
    background-color: $colorTwo;
    width: 90%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
    border-radius: .4rem;

    & h2 {
        color: $white;
        font-size: 2rem;
    }

    & .submit-message {
        text-align: center;
        color: $white;
    }

    & .form-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 2rem;

        & .input-box {
            position: relative;
            margin-bottom: 1.6rem;

            &.w50 {
                width: 47%;
            }

            &.w100 {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            & input, textarea {
                width: 100%;
                padding: 5px;
                font-size: 18px;
                font-weight: 100;
                resize: none;
                background-color: $colorTwo;
                color: $white;
                border: none;
                border-bottom: 1px solid $white;
                outline: none;
            }

            & small {
                color: crimson;
            }

            & textarea {
                min-height: 120px;
            }

            & label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px;
                font-size: 18px;
                font-weight: 300;
                color: $white;
                transition: .3s;
                pointer-events: none;
            }

            & input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
                transform: translateY(-20px);
                font-size: 16px;
                color: $colorThree;
            }

            & input[type="submit"] {
                @include button($colorOne, $white);
            }
        }
    }
}