@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F3F2C9;
  font-family: 'Roboto', sans-serif; }

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; }

.menu {
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em; }
  .menu.expend {
    width: 176px;
    height: 100vh;
    background-color: #003638;
    box-shadow: 0 0 10px #333; }
  .menu__toggle {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    padding: .2em .6em;
    border-radius: 10px;
    cursor: pointer; }
    .menu__toggle__hover {
      margin: auto 0;
      color: #003638;
      font-size: 0;
      transition: .3s; }
      .menu__toggle__hover.appear {
        font-size: 30px;
        line-height: 30px; }
    .menu__toggle__icon {
      width: 40px;
      height: 34px; }
  .menu__container {
    display: none; }
    .menu__container.show-menu {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column; }
    .menu__container__nav {
      flex: 1; }
      .menu__container__nav__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none; }
        .menu__container__nav__list__item {
          margin: 1em 0;
          transition: .3s; }
          .menu__container__nav__list__item__link {
            color: #f1f1f1;
            text-transform: uppercase;
            text-decoration: none;
            transition: .3s; }
            .menu__container__nav__list__item__link:hover {
              color: #53B8BB; }
          .menu__container__nav__list__item:hover {
            transform: scale(1.2); }
    .menu__container__socials {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none; }
      .menu__container__socials__item {
        margin: .6em;
        text-transform: uppercase; }
        .menu__container__socials__item__link {
          display: inline-block;
          color: #f1f1f1;
          text-decoration: none;
          transition: .3s; }
          .menu__container__socials__item__link:hover {
            transform: scale(1.2); }

.menu.expend .menu__toggle__hover {
  color: #f1f1f1; }

.main.projects {
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem; }

.projects-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; }
  .projects-container .project {
    position: relative;
    max-width: 300px;
    background-color: #f1f1f1;
    border-radius: .4rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5); }
    .projects-container .project__img-box {
      position: relative;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      width: 260px;
      height: 170px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 4px;
      background-size: cover;
      background-position: center; }
    .projects-container .project__content {
      position: relative;
      padding: 0 1rem;
      text-align: center; }
      .projects-container .project__content__title {
        position: relative;
        top: -40px; }
      .projects-container .project__content__project-versions {
        position: relative;
        top: -20px;
        border: 1px solid #333;
        border-radius: .4rem;
        padding: 1rem; }
        .projects-container .project__content__project-versions__title {
          position: absolute;
          top: -26px;
          left: -20px;
          background-color: #f1f1f1; }
        .projects-container .project__content__project-versions__link {
          display: inline-block;
          color: #055052;
          margin: 0 .4rem;
          transition: .3s; }
          .projects-container .project__content__project-versions__link:hover {
            color: #53B8BB;
            transform: scale(1.1); }
      .projects-container .project__content__btn-box {
        display: flex;
        justify-content: center;
        align-items: center; }
        .projects-container .project__content__btn-box__button {
          margin: .4rem;
          padding: .4rem;
          background-color: #055052;
          border: none;
          border-radius: .4rem;
          box-shadow: 0 0 50px #333;
          color: #f1f1f1;
          cursor: pointer;
          transition: .3s; }
          .projects-container .project__content__btn-box__button a {
            text-decoration: none;
            color: #f1f1f1; }
          .projects-container .project__content__btn-box__button:hover {
            background-color: black; }
          .projects-container .project__content__btn-box__button__link__img {
            width: 30px; }

.main.blog {
  flex-direction: column;
  justify-content: flex-start; }

.articles-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem; }
  .articles-container .card {
    position: relative;
    max-width: 300px;
    background-color: #f1f1f1;
    border-radius: .4rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5); }
    .articles-container .card__img-box {
      position: relative;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      width: 260px;
      height: 170px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 4px;
      background-size: cover;
      background-position: center; }
    .articles-container .card__content {
      position: relative;
      padding: 0 1rem;
      text-align: left; }
      .articles-container .card__content__title {
        position: relative;
        top: -30px;
        margin-bottom: 1rem;
        text-align: center; }
      .articles-container .card__content__subtitle {
        position: relative;
        top: -30px;
        text-align: center;
        font-weight: 100; }
      .articles-container .card__content__btn-box {
        display: flex;
        justify-content: center;
        align-items: center; }
        .articles-container .card__content__btn-box__button {
          margin: .4rem;
          padding: .4rem;
          background-color: #055052;
          border: none;
          border-radius: .4rem;
          box-shadow: 0 0 50px #333;
          color: #f1f1f1;
          cursor: pointer;
          transition: .3s; }
          .articles-container .card__content__btn-box__button a {
            text-decoration: none;
            color: #f1f1f1; }
          .articles-container .card__content__btn-box__button:hover {
            background-color: black; }

.main.article, .main.project {
  flex-direction: column;
  justify-content: flex-start; }

.article__title, .project__title {
  margin-bottom: .5rem; }

.article__subtitle, .project__subtitle {
  margin-bottom: 2rem; }

.article__image, .project__image {
  width: 50%;
  min-width: 300px; }

.article__content, .project__content {
  width: 100%;
  padding: 2rem; }
  .article__content h2, .project__content h2 {
    margin: 1rem 0; }
  .article__content h3, .project__content h3 {
    margin: 1rem; }
  .article__content h4, .project__content h4 {
    margin: 1rem 2rem; }
  .article__content blockquote, .project__content blockquote {
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 5px solid #a2a2a2;
    font-style: italic;
    font-weight: 100; }
  .article__content ol, .article__content ul, .project__content ol, .project__content ul {
    margin-left: 1.2rem; }
  .article__content code, .project__content code {
    padding: .4rem;
    border-radius: .4rem;
    background-color: rgba(0, 0, 0, 0.1); }
  .article__content .image, .project__content .image {
    width: 100%; }
    .article__content .image.image-style-side, .project__content .image.image-style-side {
      float: right;
      margin: .6rem 0 .6rem 1rem; }
    .article__content .image img, .project__content .image img {
      width: 100%; }

.article__created, .project__created {
  align-self: flex-end;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
  padding-top: 1rem;
  border-top: 1px solid #a2a2a2; }

.contact-form {
  margin: 1rem;
  padding: 3rem 2rem;
  background-color: #055052;
  width: 90%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  border-radius: .4rem; }
  .contact-form__title {
    color: #f1f1f1;
    font-size: 2rem; }
  .contact-form__submit-message {
    text-align: center;
    color: #f1f1f1; }
  .contact-form__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem; }
    .contact-form__form__input-box {
      position: relative;
      margin-bottom: 1.6rem; }
      .contact-form__form__input-box.w50 {
        width: 47%; }
      .contact-form__form__input-box.w100 {
        width: 100%;
        display: flex;
        justify-content: center; }
      .contact-form__form__input-box__input, .contact-form__form__input-box__textarea {
        width: 100%;
        padding: 5px;
        font-size: 18px;
        font-weight: 100;
        resize: none;
        background-color: #055052;
        color: #f1f1f1;
        border: none;
        border-bottom: 1px solid #f1f1f1;
        outline: none; }
      .contact-form__form__input-box__small {
        color: crimson; }
      .contact-form__form__input-box__textarea {
        min-height: 120px; }
      .contact-form__form__input-box__label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        font-size: 18px;
        font-weight: 300;
        color: #f1f1f1;
        transition: .3s;
        pointer-events: none; }
      .contact-form__form__input-box__input:focus ~ .contact-form__form__input-box__label, .contact-form__form__input-box__textarea:focus ~ .contact-form__form__input-box__label, .contact-form__form__input-box__input:valid ~ .contact-form__form__input-box__label, .contact-form__form__input-box__textarea:valid ~ .contact-form__form__input-box__label {
        transform: translateY(-20px);
        font-size: 16px;
        color: #53B8BB; }
      .contact-form__form__input-box__input[type="submit"] {
        margin: .4rem;
        padding: .4rem;
        background-color: #003638;
        border: none;
        border-radius: .4rem;
        box-shadow: 0 0 50px #333;
        color: #f1f1f1;
        cursor: pointer;
        transition: .3s;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        .contact-form__form__input-box__input[type="submit"] a {
          text-decoration: none;
          color: #f1f1f1; }
        .contact-form__form__input-box__input[type="submit"]:hover {
          background-color: black; }

.error__img {
  width: 40%;
  min-width: 300px; }

.error__text {
  margin: 2rem;
  font-size: 1.2rem; }
