        <footer class="footer">
            <a class="footer__copyright" href="http://www.benjamin-choron.fr/">© Benjamin Choron 2021</a>
            <a class="footer__legals" href="/legals">Mentions légales</a>
        </footer>
        <script src="/js/script.js"></script>
        <noscript>Javascript n'est pas activé. Cette page risque de ne pas fonctionner correctement.</noscript>
    </body>
</html>